@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";

:root
{
    --color-green: #50fa7b;
}

*
{
    margin:0;
    padding:0;
    border:0
}

body
{
    background: #282a36;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header
{
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

header div
{
    text-align: center;
}

.links a
{
    line-height: 28px;
    margin: 0px 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.links a:hover
{
    color: var(--color-green);
    transition: color 200ms;
}

#wrapper
{
    text-align: center;
    padding: 32px;
}

#wrapper ul li
{
    display: table;
    margin: 5px auto 5px;
}

#wrapper ul
{
    margin: 125px auto 25px;
}

.techs li
{
    color: var(--color-green);
    margin: 5px;
    font-size: 20px;
}

#wrapper img
{
    border-radius: 50%;
    border: 4px solid var(--color-green);
}

#wrapper h1
{
    font-size: 35px;
    line-height: 45px;
    margin: 35px 0px 80px;
    font-weight: bold;
}

#wrapper h5
{
    max-width: 900px;
    margin: 75px auto;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;

}

.links-footer
{
    margin-top: 105px;
}

.links-footer a
{
    line-height: 28px;
    margin: 35px 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid transparent;
}

.links-footer a:hover
{
    border-bottom: 1px solid var(--color-green);
    color: var(--color-green);
    transition: 700ms;
}