*
{
    margin:0;
    padding:0;
    border:0
}

body
{
    background: #282a36;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header
{
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

header div
{
    text-align: center;
}

header div a
{
    line-height: 28px;
    margin: 0px 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

header div a:hover
{
    color: #50fa7b;
    transition: color 200ms;
}