@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root
{
    --achieve-blue: #8280f8;
    --darker-blue: #181699;
}

*
{
    margin: 0;
    padding: 0;
    border: none;
}

body
{
    background-color: var(--achieve-blue);
    font-family: 'Roboto', sans-serif;
}

header
{
    width: 100%;
    padding: 32px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}

.links a
{
    text-decoration: none;
    font-size: 22px;
    color: var(--darker-blue);
    position: relative;
}

.links a + a
{
    margin-left: 30px;
}

.links a.active
{
    font-weight: bold;
}

.links a:hover
{
    color: red;
    transition: 600ms;
}

.links a::after
{
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.links a:hover::after
{
    width: 100%;
    transition: width 500ms ease-in-out;
}

.card
{
    background-color: white;
    width: 800px;
    min-height: 400px;
    
    margin: 50px auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.7);

    animation: up 700ms ease-in;
}

@keyframes up
{
    from
    {
        opacity: 0;
        transform: translateY(15px);
    }
    to
    {
        opacity: 1;
    }
}

.details
{
    padding: 32px;
}

.details div:first-child
{
    border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.details h3,
.details div:nth-child(1)
{
    font-weight: normal;
    font-size: 12px;    
    line-height: 22px;
    letter-spacing: 0.5px;
    opacity: 0.7;
    margin-top: 8px;
}

.details div:nth-child(2)
{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.details div div span
{
    padding: 8px 16px;
    border-radius: 16px;
    margin-right: 5px;
    display: inline-block;
    background-color: var(--achieve-blue);
}

.details h3
{
    color: var(--darker-blue);
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}