@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root
{
    --achieve-blue: #8280f8;
    --darker-blue: #181699;
}

*
{
    margin: 0;
    padding: 0;
    border: none;
}

body
{
    background-color: var(--achieve-blue);
    font-family: 'Roboto', sans-serif;
}

header
{
    width: 100%;
    padding: 32px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}

.links a
{
    text-decoration: none;
    font-size: 22px;
    color: var(--darker-blue);
    position: relative;
}

.links a + a
{
    margin-left: 30px;
}

.links a.active
{
    font-weight: bold;
}

.links a:hover
{
    color: red;
    transition: 600ms;
}

.links a::after
{
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.links a:hover::after
{
    width: 100%;
    transition: width 500ms ease-in-out;
}

.card
{
    background-color: white;
    width: 800px;
    min-height: 400px;
    
    margin: 50px auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.7);

    animation: up 700ms ease-in;
}

@keyframes up
{
    from
    {
        opacity: 0;
        transform: translateY(15px);
    }
    to
    {
        opacity: 1;
    }
}
.details
{
    padding: 32px;
}

.details .item
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0px;
}

.details .item:last-child
{
    border: none;
}

.details h3,
.details .item div:nth-child(1)
{
    color: #777;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

select,
.details .item div:nth-child(2)
{
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3
{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--darker-blue);
}

.details .item span,
.details .item div:nth-child(2) span
{
    padding: 8px 16px;
    background-color: var(--achieve-blue);
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
}

select,
input
{
    width: 100%;
    font-size: 16px;
    outline: none;
    line-height: 26px;
    font-weight: bold;
}

input[type="radio"]
{
    vertical-align: middle;
    margin-right: 4px;
    width: inherit
}

a.button,
button[type="submit"]
{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    color: white;
    background-color: var(--achieve-blue);
    border-radius: 8px;
    box-shadow: 2px 2px 4px -2px black;
    outline: none;
    cursor: pointer;
}

a.button:hover,
button[type="submit"]:hover
{
    transform: scale(1.05);
    background-color: #dd3737;
    color: black;
    font-weight: bold;
    transition: 700ms;
}

a.button
{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.form-delete button[type="submit"]
{
    background-color: lightcoral;
}