{% extends 'layout.njk' %}

{% block content %}
    <div id="wrapper">
        <img id="picture" src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg">
        <h1>Rocketseat</h1>
        <h5>
            Mais do que uma plataforma de educação em tecnologia,
            somos uma comunidade incrível de programadores
            em busca do próximo nível. 🚀
        </h5>

        <ul class="techs">
            <li>Javascript</li>
            <li>NodeJS</li>
            <li>React</li>
            <li>React Native</li>
        </ul>

        <div class="links-footer">
            <a href="https://github.com/Rocketseat/" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        </div>
    </div>
{% endblock content %}
