{% extends 'layout.njk' %}

{% block head %}
    <title>Desafio 03-1 - Treinamentos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block content %}
    <section class="cards">

        {% for card in cards %}

        <div class="card {{card.card_class}}" id="{{card.id}}">
            <div class="card-content">
                <p class="{{card.number_class}}">{{card.number}}</p>
                <img src="{{card.logo_url}}" alt="Logotipo do curso {{card.id}}">
                <p>{{card.modules}}</p>
                <p>{{card.price}}</p>
            </div>
        </div>

        {% endfor %}

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="maximize-modal">
                <i class="material-icons">fullscreen</i>
            </a>
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <iframe></iframe>
        </div>
    </div>

    <script src="scripts.js"></script>
{% endblock content %}