@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: none;
}

body
{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header
{
    width: 100%;
    padding: 32px;
    text-align: center;
    background-color: #8280f8;
    box-sizing: border-box;
}

.links a
{
    text-decoration: none;
    font-size: 22px;
    color: #181699;
    position: relative;
}

.links a + a
{
    margin-left: 30px;
}

.links a.active
{
    font-weight: bold;
}

.links a:hover
{
    color: red;
    transition: 600ms;
}

.links a::after
{
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.links a:hover::after
{
    width: 100%;
    transition: width 500ms ease-in-out;
}